<!DOCTYPE html>
<html>
  <head>
    <title>Termek nyilvántartása</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../Stylesheets/NewMain_Stylesheet.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="icon" href="./Data/icon.png">
  </head>
  <body>
    <script type="text/javascript">
      var oraData = <%-JSON.stringify(oraarray) %>;
      var termek = <%-JSON.stringify(termek) %>;

      function Update(){
        //console.log(oraData);
        for (var i = 0; i < oraData.length; i++) {
          var element = document.getElementById(oraData[i].id)
          element.innerHTML += "<p>" + oraData[i].value + "</p>";
          element.className += " warning";
        }
        
      }
      function oraClicked(id) {
        for (var i = 1; i < 41; i++) {
          document.getElementById("form-" + i).style.display = "none";
        }
        if (termek.length < 1) {
          return;
        }  
        var element = document.getElementById("form-" + id);
        if (element.style.display != "block") {
          element.style.display = "block";
          oraId = parseInt(id);
          for (var i = 0; i < oraData.length; i++) {
            if(oraData[i].id == oraId) {
              document.getElementById("input-" + id).placeholder = oraData[i].value;
            }
          }
          
        }

        //Kitölteni a szövegdobozt az eredeti szöveggel
      }

      window.onload = function() {
        Update();
      }


    </script>
    <br>
    <div class="container-fluid">
      <form class="form-inline teremForm" action="/" method="get">
        <label>Terem:</label>
        <select name="terem">
          <% for (var i = 0; i < termek.length; i++) { %>
            <option value="<%= termek[i] %>" <% if (termek[i] == terem){ %> selected="selected" <% } %>><%= termek[i] %></option>
          <% }; %>
        </select>
        <button type="submit" class="btn btn-default">Kiválaszt</button>
      </form>

      <form class="form-inline teremForm" action="/" method="get">
        <input type="text" name="ujterem" required>
        <button type="submit" class="btn btn-default">Új terem hozzáadása</button>   
      </form>

      <form class="form-inline teremForm" action="/" method="get">
        <label>Terem törlése:</label>
        <select name="toroltTerem">
          <% for (var i = 0; i < termek.length; i++) { %>
            <option value="<%= termek[i] %>" <% if (termek[i] == terem){ %> selected="selected" <% } %>><%= termek[i] %></option>
          <% }; %>
        </select>
        <button type="submit" class="btn btn-default">Törlés</button>
      </form>
      
      
    </div>
    <br>
    <div class="container-fluid" style="text-align:center">
      <table class="table table-stripped table-bordered table-hover table-condensed table-responsive"; style="text-align:center">
        <thead>
          <tr>
            <th></th>
  					<th class="active" id="hetfo" style="text-align:center">Hétfő</th>
  					<th class="success" id="kedd" style="text-align:center">Kedd</th>
  					<th class="warning" id="szerda" style="text-align:center">Szerda</th>
  					<th class="info" id="csutortok" style="text-align:center">Csütörtök</th>
  					<th class="danger" id="pentek" style="text-align:center">Péntek</th>
          </tr>
        </thead>
        <tbody>
          <% for (var i = 0; i < 8; i++){ %>
            <tr>
              <% for (var j = 0; j < 6; j++){ %>
                <% if (j === 0){ %>
                  <td><%= i + 1 %>. óra</td>
                <% } else { %>
                  <td id=<%= i*5+j %> onclick="oraClicked(<%= i*5+j %>)">
                    <form id="form-<%= i*5+j %>" class="oraForm form-inline" action="/" method="post">
                      <input id="input-<%= i*5+j %>" type="text" name="name"></input>
                      <input type="hidden" name="id" value="<%= i*5+j %>"></input>
                      <input type="hidden" name="terem" value="<%= terem %>"></input>
                      <button type="submit" class="btn btn-default">Módosít</button>
                    </form>
                  </td>
                <% }; %>
              <% }; %>
            </tr>
          <% }; %>  
        </tbody>
      </table>
    </div>
    <div>
      <form class="form-inline teremForm" action="/search" method="get">
        <label>Üres terem keresése (nap, óra):</label>
        <select name="nap">
          <option value="1" <% if (1 == nap){ %> selected="selected" <% } %>>Hétfő</option>
          <option value="2" <% if (2 == nap){ %> selected="selected" <% } %>>Kedd</option>
          <option value="3" <% if (3 == nap){ %> selected="selected" <% } %>>Szerda</option>
          <option value="4" <% if (4 == nap){ %> selected="selected" <% } %>>Csütörtök</option>
          <option value="5" <% if (5 == nap){ %> selected="selected" <% } %>>Péntek</option>
        </select>
        <select name="ora">
          <option value="0" <% if (0 == ora){ %> selected="selected" <% } %>>1. óra</option>
          <option value="1" <% if (1 == ora){ %> selected="selected" <% } %>>2. óra</option>
          <option value="2" <% if (2 == ora){ %> selected="selected" <% } %>>3. óra</option>
          <option value="3" <% if (3 == ora){ %> selected="selected" <% } %>>4. óra</option>
          <option value="4" <% if (4 == ora){ %> selected="selected" <% } %>>5. óra</option>
          <option value="5" <% if (5 == ora){ %> selected="selected" <% } %>>6. óra</option>
          <option value="6" <% if (6 == ora){ %> selected="selected" <% } %>>7. óra</option>
          <option value="7" <% if (7 == ora){ %> selected="selected" <% } %>>8. óra</option>
        </select>
        <input type="hidden" name="terem" value="<%= terem %>"></input>
        <button type="submit" class="btn btn-default">Keres</button>
      </form>
      <p id="keresesEredmeny">
        <% for (var i = 0; i < szabadTermek.length; i++) { %>
          <%=szabadTermek[i] %><br>
        <% }; %>
      </p>
    </div
  </body>
</html>
