<!DOCTYPE html>
<html>
  <head>
    <title>Newmain</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../Stylesheets/NewMain_Stylesheet.css">
  </head>
  <body>
    <script type="text/javascript">
      var oraData = <%-JSON.stringify(oraarray) %>;

      function Update(){
        console.log(oraData);
        for (var i = 0; i < oraData.length; i++) {
          var element = document.getElementById(oraData[i].id)
          element.innerHTML += "<p>" + oraData[i].value + "</p>";
          element.className += " warning";
        }
        
      }
      function oraClicked(id) {
        var element = document.getElementById("form-" + id);
        if (element.style.display == "block") {
          //element.style.display = "none";
        } else {
          element.style.display = "block";
        }
        //Kitölteni a szövegdobozt az eredeti szöveggel
      }

      window.onload = function() {
        Update();
      }

    </script>
    <div class="container-fluid">
      <form class="form-inline teremForm" action="/" method="get">
        <label>Terem:</label>
        <select name="terem">
          <% for (var i = 0; i < termek.length; i++) { %>
            <option value="<%= termek[i] %>"><%= termek[i] %></option>
          <% }; %>
        </select>
        <button type="submit" class="btn btn-default">Kiválaszt</button>
      </form>
    </div>
    <div class="container-fluid" style="text-align:center">
      <table class="table table-stripped table-bordered table-hover table-condensed table-responsive"; style="text-align:center">
        <thead>
          <tr>
            <th></th>
  					<th class="active" id="hetfo" style="text-align:center">Hétfő</th>
  					<th class="success" id="kedd" style="text-align:center">Kedd</th>
  					<th class="warning" id="szerda" style="text-align:center">Szerda</th>
  					<th class="info" id="csutortok" style="text-align:center">Csütörtök</th>
  					<th class="danger" id="pentek" style="text-align:center">Péntek</th>
          </tr>
        </thead>
        <tbody>
          <% for (var i = 0; i < 8; i++){ %>
            <tr>
              <% for (var j = 0; j < 6; j++){ %>
                <% if (j === 0){ %>
                  <td><%= i + 1 %>. óra</td>
                <% } else { %>
                  <td id=<%= i*5+j %> onclick="oraClicked(<%= i*5+j %>)">
                    <form id="form-<%= i*5+j %>" class="oraForm form-inline" action="/" method="post">
                      <input type="text" name="name"></input>
                      <input type="hidden" name="id" value="<%= i*5+j %>"></input>
                      <button type="submit" class="btn btn-default">Módosít</button>
                    </form>
                  </td>
                <% }; %>
              <% }; %>
            </tr>
          <% }; %>  
        </tbody>
      </table>
    </div>
  </body>
</html>
